//@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "base"

//font-family: 'Lato', sans-serif

// -------------------- toolbar --------------------
.toolbar
  position: fixed
  left: 50%
  top: 0
  transform: translate(-50%, 0)
  width: 100%
  padding: 20px 0
  z-index: 99
  background-color: #493125
  &_nav
    display: flex
    justify-content: space-around
    width: 100%
    max-width: 1180px
    &_list
      &_link
        font-family: 'Lato', sans-serif
        font-size: 18px
        line-height: 22px
        text-transform: capitalize
        color: white
        outline: none
        transition: all .35s
        &:hover
          color: #ffffff
          font-weight: bold


// -------------------- header_title --------------------
.header_title
  background: url("/img/darkBC.jpg") no-repeat center
  background-size: cover
  width: 100%
  height: 600px
  display: flex
  align-items: center
  margin-bottom: 75px
  .header_title_container
    //border: 5px solid #ffffff
    //padding: 25px
    //width: 100%
    margin: 0 auto
    max-width: 450px
    &_name
      text-align: center
      font-size: 50px
      color: white
      text-transform: uppercase
      border: 5px solid #ffffff
      border-radius: 5px
      padding: 25px
      font-family: 'Lato', sans-serif


// -------------------- about_me --------------------
.about_me
  padding-bottom: 75px
  //margin-bottom: 75px
  &:after
    content: " "
    height: 4px
    width: 100%
    background: radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0.5) 0, rgba(255, 255, 255, 0) 65%)
    position: absolute
    left: 50%
    transform: translate(-50%, 0)
    margin-top: 42px
.about_me_container
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  align-items: center
  &_face
    width: 230px
    height: 230px
    border-radius: 50%
    overflow: hidden
    margin: 0 20px
    box-shadow: 0 10px 20px 1px #493125

    &_images
      width: 230px
  &_desc
    width: 400px
    &_text
      font-family: 'Lato', sans-serif
      font-size: 22px
      line-height: 28px
      color: black


// -------------------- skills --------------------
.skills
  padding-bottom: 75px
  &:after
    content: " "
    height: 4px
    width: 100%
    background: radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0.5) 0, rgba(255, 255, 255, 0) 65%)
    position: absolute
    left: 50%
    transform: translate(-50%, 0)
    margin-top: 42px

  .skill_container
    max-width: 700px
    margin: 0 auto
    color: black
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &_item
      width: 100%
      max-width: 350px
    .skill-icons
      font-size: 0
      margin-bottom: 30px
      span
        display: inline-block
        width: 14px
        height: 14px
        background-color: #493125
        opacity: .8
        margin-right: 5px
        border-radius: 50%
        &:after
          position: absolute
          content: ""
          display: block
          width: 10px
          height: 10px
          background-color: white
          border-radius: 50%
          margin: 2px

      @for $i from 1 through 10
        &.skill-#{$i} span:nth-child(n+#{$i})
          background: #666666
          opacity: .5



// -------------------- projects --------------------
.projects
  padding-bottom: 75px
  &:after
    content: " "
    height: 4px
    width: 100%
    background: radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0.5) 0, rgba(255, 255, 255, 0) 65%)
    position: absolute
    left: 50%
    transform: translate(-50%, 0)
    margin-top: 42px
.project_container
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  &_item
    width: 300px
    transition: all .35s
    border: 3px solid #493125
    border-radius: 5px
    box-shadow: 0 10px 20px 1px #493125
    margin: 0 15px 30px
    &:hover
      transform: translateY(-10px) scale(1.1)
    &_link
      .project_images
        width: 300px

// -------------------- contacts --------------------
.contacts
  padding-bottom: 75px
.contacts_container
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  .form
    width: 100%
    //width: 270px
    max-width: 300px
    display: flex
    flex-direction: column
    border: 2px solid #493125
    border-radius: 5px
    padding: 25px
    box-shadow: 0 10px 20px 1px #493125
    margin: 0 10px 25px
    &_label
      font-size: 18px
      text-transform: capitalize
      color: #493125
      font-family: 'Lato', sans-serif
    &_input
      //width: 100%
      //max-width: 260px
      outline: none
      margin-bottom: 10px
      text-indent: 10px
      padding: 5px
    .form_textarea
      resize: none
      margin-bottom: 10px
      outline: none
      text-indent: 10px
      padding: 5px
      //width: 260px
    .form_submit
      width: 100px
      padding: 10px
      margin: 0 auto
      font-family: 'Lato', sans-serif
      font-size: 16px
      color: #493125
      cursor: pointer
      outline: none
      background-color: #c7b299
      transition: all .35s
      border-radius: 5px
      border: transparent
      &:hover
        background-color: #493125
        color: white

  .contacts_information
    flex-direction: column
    width: 100%
    max-width: 300px
    padding: 20px
    margin-bottom: 25px
    &_phone, &_email
      font-size: 20px
      font-family: 'Lato', sans-serif
      line-height: 24px
      padding-bottom: 20px
      display: flex
      align-items: center
    &_social
      display: flex
      justify-content: space-between
      width: 100%
      &_fb, &_lk, &_ins, &_google
        width: 46px
        height: 46px
        transition: all .35s
        border-radius: 50%
      &_fb:hover
        fill: white
        background-color: #4267b2
        padding: 3px
        width: 40px
        height: 40px
      &_lk:hover
        fill: white
        background-color: #283e4a
        padding: 3px
        width: 40px
        height: 40px
      &_ins:hover
        fill: white
        width: 40px
        height: 40px
        padding: 3px
        background: linear-gradient(319deg, rgba(255,216,121,1) 0%, rgba(255,216,121,1) 1%, rgba(129,89,207,1) 100%)
      &_google:hover
        fill: white
        width: 40px
        height: 40px
        background-color: #ee5253
        padding: 3px

.contacts_information_icon
  width: 30px
  height: 30px
  margin-right: 15px


// -------------------- footer --------------------
.footer_bc
  background: url("/img/darkBC.jpg") no-repeat center
  background-size: cover
  width: 100%
  height: 200px
  position: relative
  //&_information
  //  position: absolute
  //  top: 50%
  //  left: 50%
  //  transform: translate(-50%, -50%)
  //  font-size: 40px
  //  color: white

// -------------------- Block_name --------------------


// -------------------- Block_name --------------------

@import "media" // Всегда в конце
